.title {
  display: none;
}

html {
  background: #ffffff;
  color: #000000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
}

body {
  max-width: 80ch;
  margin: auto;
}

/* I really loved the rainbow border but unfortunately I can't get it to render properly in safari
pre, blockquote {
  border-left: 1px solid transparent;
  border-image: linear-gradient(to bottom, #ff0000, #00ff00, #ffff00, #0000ff, #ff00ff, #00ffff);
  border-image-slice: 1;
  padding: 10px;
}
*/

pre, blockquote {
  border-left: 1px solid black;
  padding: 10px;
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 10px;
}
header a:hover {
  text-decoration: none;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
}

