/*
https://github.com/morhetz/gruvbox
*/

@media (orientation: portrait) {
  html {
    font-size: 10vw;
  }
  body {
    max-width: 80%
  }
}

@media (orientation: landscape) {
  html {
    font-size: 4vw;
  }
  body {
    max-width: 40%;
  }
}

html {
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

body {
  margin: auto;
}

img {
  width: auto;
  height: 30vh;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.red {
  color: #ff0000;
}
a.green {
  color: #00ff00;
}
a.yellow {
  color: #ffff00;
}
a.blue {
  color: #0000ff;
}
a.purple {
  color: #ff00ff;
}
a.aqua {
  color: #00ffff;
}
a.black {
  color: #000000
}
