@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');

html {
  background: seashell;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em;
}

header, footer {
  text-align: center;
}

hr {
  height: 1px;
  background-color: #999;
  border-width: 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
  padding-top: 1em;
  color: #111;
}

h1 {
  font-style: italic;
  font-size: 5em;
  color: darkgreen;
  word-break: break-all;
}

strong {
  color: #111;
}

code {
  font-size: .8em;
  font-family: "Roboto Mono", monospace;
}

pre {
  margin: 1em 1em 2em 1em;
  overflow-x: auto;
  line-height: 1.25;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #999;
}

a {
  color: green;
}
