@media (orientation: portrait) {
  html {
    font-size: 5em;
  }
  body {
    width: 90%;
  }
  img {
    width: 33vw;
    height: auto;
  }
}

@media (orientation: landscape) {
  html {
    font-size: 3em;
  }
  body {
    width: 40%;
  }
  img {
    width: auto;
    height: 33vh;
  }
}

html {
  background: #ffffff;
  color: #000000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
  img {
    filter: invert(100%);
  }
}

body {
  margin: auto;
}

.profile {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.profile a:hover {
  text-decoration: none;
}


a.red {
  color: #ff0000;
}
a.green {
  color: #00ff00;
}
a.yellow {
  color: #ffff00;
}
a.blue {
  color: #0000ff;
}
a.purple {
  color: #ff00ff;
}
a.aqua {
  color: #00ffff;
}
a.black {
  color: #000000;
}
