.title {
  display: none;
}

html {
  background: #ffffff;
  color: #000000;
  padding: 10px;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
}

body {
  max-width: 80ch;
  margin: auto;
}

pre, blockquote {
  border-left: 1px solid black;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  pre, blockquote {
    border-color: white;
  }
}

code {
  font-family: monospace;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0000ff;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: right;
  padding: 10px;
}
header a:hover {
  text-decoration: none;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
}

